<%- include('partials/header') %>










<head>
    <title>Match Prediction Website</title>
 
</head>
<body>
    <div class="header">
        <h1>Match Prediction Website</h1>
    </div>

    </div>
    <div class="jumbotron centered">
      <div class="container">
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    
      </div>
    </div>
</body>



<%- include('partials/footer') %>


