
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.custom-flex {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


.container h2 {
  text-align: center;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}


.switch-link {
  text-align: center;
  margin-top: 10px;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    position: relative;
}

.header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.match-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.team-logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.team-names {
    flex: 1;
}

.match-prediction {
    text-align: center;
}


.footer{
  position: fixed;
  top: 100%;
  transform: translateY(-100%);
}

